main/default/flows/Clone_Enroll_or_Unenroll_Service_Appointment_Attendees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that creates, updates, or deletes service appointment attendee records for an associated service appointment.</description>
        <name>SaveServiceAppointmentAttendees</name>
        <label>Save Service Appointment Attendees</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>saveServiceAppointmentAttendees</actionName>
        <actionType>saveServiceAppointmentAttendees</actionType>
        <connector>
            <targetReference>AddAttendees</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayServiceAppointmentDetails</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadFields</name>
            <value>
                <elementReference>LeadInformation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesFields</name>
            <value>
                <elementReference>ServiceAppointmentAttendeeInformation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unenrollUrl</name>
            <value>
                <elementReference>UnenrollUrlPrefix</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AddServiceAppointmentAttendees</assignToReference>
            <name>seatsLeft</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Sets DisplayInformation to the value of the CannotAddAttendees constant.</description>
        <name>SetDisplayInformation</name>
        <label>Set Display Information</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DisplayInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CannotAddAttendees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayServiceAppointmentEnrollmentOrUnenrollmentConfirmation</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores a value that indicates that the maximum limit of attendees in the service appointment is reached.</description>
        <name>CannotAddAttendees</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NoSeatsLeft</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether attendees can be added to the service appointment by checking if AddServiceAppointmentAttendee is True.</description>
        <name>AddAttendees</name>
        <label>Add Attendees?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SetDisplayInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>YesAddAttendees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddServiceAppointmentAttendees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayServiceAppointmentEnrollmentOrUnenrollmentConfirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Clone Enroll or Unenroll Service Appointment Attendees {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Clone Enroll or Unenroll Service Appointment Attendees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <screens>
        <description>Allows an authenticated flow user to review the service appointment details before unenrolling. Lets an unauthenticated flow user to enroll to or unenroll from a service appointment by adding their information, such as name, contact number, and email.</description>
        <name>ScreenDisplayServiceAppointmentDetails</name>
        <label>Display Service Appointment Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaveServiceAppointmentAttendees</targetReference>
        </connector>
        <fields>
            <name>ComponentServiceAppointmentSummary</name>
            <extensionName>runtime_appointmentbooking:apptDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>token</name>
                <value>
                    <elementReference>token</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessages</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointmentAttendeeInformation</assignToReference>
                <name>attendeesFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointmentId</assignToReference>
                <name>serviceAppointmentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LeadInformation</assignToReference>
                <name>leadFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DisplayInformation</assignToReference>
                <name>category</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display a confirmation message when the flow user enrolls in or unenrolls from a service appointment.</description>
        <name>ScreenDisplayServiceAppointmentEnrollmentOrUnenrollmentConfirmation</name>
        <label>Display Service Appointment Enrollment or Unenrollment Confirmation</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ServiceAppointmentConfirmation</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>DisplayInformation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenDisplayServiceAppointmentDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a Boolean value that indicates whether service appointment attendees can be added to the service appointment.</description>
        <name>AddServiceAppointmentAttendees</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a value that determines the message to be displayed on the confirmation screen.</description>
        <name>DisplayInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the developer name of the email template that’s sent to the service appointment attendee for enrollment or unenrollment.</description>
        <name>emailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SalesforceSchedulerGroupApptEmailTemplate</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores a JSON string containing field-value pairs associated with the lead record to be created if a service appointment attendee isn’t an existing lead, contact, or person account.</description>
        <name>LeadInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a JSON string containing field-value pairs of the service appointment attendee record, such as name, contact, email, added to the service appointment.</description>
        <name>ServiceAppointmentAttendeeInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the service appointment to which attendees are added.</description>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the appointment token that’s used to retrieve service appointment details when a user enrolls, or to retrieve attendee status and the service appointment details when a user unenrolls.</description>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the prefix for the URL that’s used to unenroll from the service appointment.</description>
        <name>UnenrollUrlPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://usa794org4.my.site.com/Prospects/s/group-appointments</stringValue>
        </value>
    </variables>
</Flow>
